# ADS 509 Module 3: Group Comparison 

The task of comparing two groups of text is fundamental to textual analysis. There are innumerable applications: survey respondents from different segments of customers, speeches by different political parties, words used in Tweets by different constituencies, etc. In this assignment you will build code to effect comparisons between groups of text data, using the ideas learned in reading and lecture.

This assignment asks you to analyze the lyrics and Twitter descriptions for the two artists you selected in Module 1. If the results from that pull were not to your liking, you are welcome to use the zipped data from the â€œAssignment Materialsâ€ section. Specifically, you are asked to do the following: 

* Read in the data, normalize the text, and tokenize it. When you tokenize your Twitter descriptions, keep hashtags and emojis in your token set. 
* Calculate descriptive statistics on the two sets of lyrics and compare the results. 
* For each of the four corpora, find the words that are unique to that corpus. 
* Build word clouds for all four corpora. 

Each one of the analyses has a section dedicated to it below. Before beginning the analysis there is a section for you to read in the data and do your cleaning (tokenization and normalization).

## General Assignment Instructions

These instructions are included in every assignment, to remind you of the coding standards for the class. Feel free to delete this cell after reading it. 

One sign of mature code is conforming to a style guide. We recommend the [Google Python Style Guide](https://google.github.io/styleguide/pyguide.html). If you use a different style guide, please include a cell with a link. 

Your code should be relatively easy-to-read, sensibly commented, and clean. Writing code is a messy process, so please be sure to edit your final submission. Remove any cells that are not needed or parts of cells that contain unnecessary code. Remove inessential `import` statements and make sure that all such statements are moved into the designated cell. 

Make use of non-code cells for written commentary. These cells should be grammatical and clearly written. In some of these cells you will have questions to answer. The questions will be marked by a "Q:" and will have a corresponding "A:" spot for you. *Make sure to answer every question marked with a `Q:` for full credit.*

In [1]:
import os
import re
import emoji
import pandas as pd

from collections import Counter, defaultdict
from nltk.corpus import stopwords
from string import punctuation
from wordcloud import WordCloud 

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

In [2]:
# Use this space for any additional import statements you need

In [3]:
# Place any addtional functions or constants you need here. 

# Some punctuation variations
punctuation = set(punctuation) # speeds up comparison
tw_punct = punctuation - {"#"}

# Stopwords
sw = stopwords.words("english")

# Two useful regex
whitespace_pattern = re.compile(r"\s+")
hashtag_pattern = re.compile(r"^#[0-9a-zA-Z]+")

# It's handy to have a full set of emojis
#all_language_emojis = set()

#for country in emoji.is_emoji : 
#    for em in emoji.is_emoji[country] : 
#        all_language_emojis.add(em)

# and now our functions

def is_emoji(s):
    return(emoji.is_emoji(s))

def contains_emoji(s):
    
    s = str(s)
    emojis = [ch for ch in s if is_emoji(ch)]

    return(len(emojis) > 0)

def remove_stop(tokens) :
    # modify this function to remove stopwords
    return(tokens)
 
def remove_punctuation(text, punct_set=tw_punct) : 
    return("".join([ch for ch in text if ch not in punct_set]))

def prepare(text, pipeline) : 
    tokens = str(text)
    
    for transform in pipeline : 
        tokens = transform(tokens)
        
    return(tokens)

In [4]:
def descriptive_stats(tokens, num_tokens = 5, verbose=True) :
    """
        Given a list of tokens, print number of tokens, number of unique tokens, 
        number of characters, lexical diversity, and num_tokens most common
        tokens. 
    """
    # Fill in the correct values here. 
    num_tokens = len(tokens)
    #code beolow from: https://stackoverflow.com/
    #questions/33726361/counting-the-number-of-
    #unique-words-in-a-list
    set_num_tokens = set(tokens)
    num_unique_tokens = len(set_num_tokens)
    #below code from: https://pypi.org/project/lexical-diversity/
    lexical_diversity = ld.ttr(tokens)
    #source: https://stackoverflow.com/questions/25934586/
    #finding-the-amount-of-characters-of-all-words-in-a-
    #list-in-python
    num_characters = sum(len(i) for i in tokens)
  
    
    if verbose :        
        print(f"There are {num_tokens} tokens in the data.")
        print(f"There are {num_unique_tokens} unique tokens in the data.")
        print(f"There are {num_characters} characters in the data.")
        print(f"The lexical diversity is {lexical_diversity:.3f} in the data.")
    
        # print the five most common tokens
        
    return([num_tokens, num_unique_tokens,
            lexical_diversity,
            num_characters])

In [5]:
def tokenize(text) : 
    """ Splitting on whitespace rather than the book's tokenize function. That 
        function will drop tokens like '#hashtag' or '2A', which we need for Twitter. """
    
    # modify this function to return tokens
    
    
    
    return(text)

## Data Ingestion

Use this section to ingest your data into the data structures you plan to use. Typically this will be a dictionary or a pandas DataFrame.

In [6]:
# Feel fre to use the below cells as an example or read in the data in a way you prefer

data_location = "" # change to your location if it is not in the same directory as your notebook
twitter_folder = "twitter/"
lyrics_folder = "lyrics/"

artist_files = {'cher':'cher_followers_data.txt',
                'robyn':'robynkonichiwa_followers_data.txt'}

In [7]:
twitter_data = pd.read_csv(data_location + twitter_folder + artist_files['cher'],
                           sep="\t",
                           quoting=3)

twitter_data['artist'] = "cher"

In [8]:
twitter_data_2 = pd.read_csv(data_location + twitter_folder + artist_files['robyn'],
                             sep="\t",
                             quoting=3)
twitter_data_2['artist'] = "robyn"

twitter_data = pd.concat([
    twitter_data,twitter_data_2], ignore_index=True)
    
del(twitter_data_2)

In [9]:
twitter_data.head(3)

,screen_name,name,id,location,followers_count,friends_count,description,artist
0,hsmcnp,Country Girl,35152213,NaN,1302,1014,NaN,cher
1,horrormomy,Jeny,742153090850164742,Earth,81,514,ğ™¿ğš›ğš˜ğšğš ğšœğšğš™ğš™ğš˜ğš›ğšğšğš› ğš˜ğš ğš–ğšğšœğšœğš¢ ğš‹ğšğš—ğšœ & ğš•ğšğšğšğš’ğš—ğšğšœ,cher
2,anju79990584,anju,1496463006451974150,NaN,13,140,163ãï¼æ„›ã‹ã£ã·ğŸ’œ26æ­³ğŸ’ å·¥ã€‡å¥½ããªå¥³ã®å­ğŸ’“ ãƒ•ã‚©ãƒ­ãƒ¼ã—ã¦ãã‚ŒãŸã‚‰DMã—ã¾ã™ğŸ§¡,cher

In [10]:
lyrics_data = pd.DataFrame()

In [13]:
#I could not figure out how to do this with a 
#dataframe so I modified my code from assignment 2
#where the key is the song name
#and the lyrics are the value
#source for reading specific lines:
#https://www.geeksforgeeks.org/how-
#to-read-specific-lines-from-a-file-in-python/
#sources for using .strip for []:
#https://theprogrammingexpert.com/remove-brackets-
#from-string-python/#:~:text=Using%20strip()
#%20to%20Remove,and%20end%20of%20a%20string.

lyrics_data1 = defaultdict(list)


def storeLyrics(lyrics):

    with os.scandir('C:/Users/munip/Downloads/MADS-509-Module-2/lyrics/' + lyrics) as entries:
        for entry in entries:
            entryname = entry.name
            with open('C:/Users/munip/Downloads/MADS-509-Module-2/lyrics/' + lyrics + "/" + entryname) as file:
                contents = file.readline().strip()
                contents = contents.strip('"')
                x = file.readlines()
                value = str(x[3:]).strip("[]")
                value = value.strip('"')
                lyrics_data1[contents].append(value)

In [14]:
#cher to dictionary
storeLyrics('cher')

In [15]:
#cher to dataframe
#source for turning this into a dataframe:
#https://stackoverflow.com/questions/68705455/
#turning-a-dictionary-with-one-key-and-multiple
#-values-to-pandas-dataframe

lyrics_data = (pd.DataFrame.from_dict(lyrics_data1, orient='index').T
   .melt(var_name='song', value_name='lyrics'))

In [16]:
lyrics_data.head(3)

,song,lyrics
0,88 Degrees,"Stuck in L.A., ain't got no friends \n"", 'And ..."
1,A Different Kind Of Love Song,'What if the world was crazy and I was sane\n'...
2,After All,"'Well, here we are again\n', 'I guess it must ..."

In [17]:
lyrics_data['artist'] = "cher"

In [18]:
lyrics_data.head(3)

,song,lyrics,artist
0,88 Degrees,"Stuck in L.A., ain't got no friends \n"", 'And ...",cher
1,A Different Kind Of Love Song,'What if the world was crazy and I was sane\n'...,cher
2,After All,"'Well, here we are again\n', 'I guess it must ...",cher

In [19]:
#doing the same for Robyn
#storing lyrics data
#with song name as key

#I feel like there is a more efficient way
#of doing this,
#but I spent too much of time trying to figure this out
#so for now, I will keep what works

In [20]:
#updated file name to lyrics_data2 in both
#below and in the storeLyrics function
#this is so that we can do artist = robyn
#in the dataframe
lyrics_data2 = defaultdict(list)


def storeLyrics(lyrics):

    with os.scandir('C:/Users/munip/Downloads/MADS-509-Module-2/lyrics/' + lyrics) as entries:
        for entry in entries:
            entryname = entry.name
            with open('C:/Users/munip/Downloads/MADS-509-Module-2/lyrics/' + lyrics + "/" + entryname) as file:
                contents = file.readline().strip()
                contents = contents.strip('"')
                x = file.readlines()
                value = str(x[3:]).strip("[]")
                value = value.strip('"')
                lyrics_data2[contents].append(value)

In [21]:
#calling function for robyn
storeLyrics('robyn')

In [22]:
#robyn to dataframe
#source for turning this into a dataframe:
#https://stackoverflow.com/questions/68705455/
#turning-a-dictionary-with-one-key-and-multiple
#-values-to-pandas-dataframe

lyrics_data2 = (pd.DataFrame.from_dict(lyrics_data2, orient='index').T
   .melt(var_name='song', value_name='lyrics'))

In [23]:
lyrics_data2['artist'] = "robyn"

In [24]:
lyrics_data2.head(3)

               song                                             lyrics artist
0           88 Days  'I light a candle in the morning \n', 'To sign...  robyn
1    Ain't No Thing  '[Verse 1:]\n', 'Boy you gotta want me, really...  robyn
2  Anytime You Like  It's like you're waiting for me to start\n", "...  robyn

In [25]:
#as seen with twitter data above
#we will concat the 2 dataframes

#added ignore_index = true from source:
#https://stackoverflow.com/questions/
#35528119/pandas-recalculate-index
#-after-a-concatenation when I saw that 
#the index does not reset - did that for twitter
#as well

lyrics_data = pd.concat([
    lyrics_data,lyrics_data2], ignore_index=True)
    
del(lyrics_data2)

## Tokenization and Normalization

In this next section, tokenize and normalize your data. We recommend the following cleaning. 

**Lyrics** 

* Remove song titles
* Casefold to lowercase
* Remove punctuation
* Split on whitespace
* Remove stopwords (optional)

Removal of stopwords is up to you. Your descriptive statistic comparison will be different if you include stopwords, though TF-IDF should still find interesting features for you.

**Twitter Descriptions** 

* Casefold to lowercase
* Remove punctuation other than emojis or hashtags
* Split on whitespace
* Remove stopwords

Removing stopwords seems sensible for the Twitter description data. Remember to leave in emojis and hashtags, since you analyze those.

In [ ]:
# apply the `pipeline` techniques from BTAP Ch 1 or 5

my_pipeline = [str.lower, remove_punctuation, tokenize, remove_stop]

lyrics_data["tokens"] = lyrics_data["lyrics"].apply(prepare,pipeline=my_pipeline)
lyrics_data["num_tokens"] = lyrics_data["tokens"].map(len) 

twitter_data["tokens"] = twitter_data["description"].apply(prepare,pipeline=my_pipeline)
twitter_data["num_tokens"] = twitter_data["tokens"].map(len)

In [ ]:
twitter_data['has_emoji'] = twitter_data["description"].apply(contains_emoji)

Let's take a quick look at some descriptions with emojis.

In [ ]:
twitter_data[twitter_data.has_emoji].sample(10)[["artist","description","tokens"]]

With the data processed, we can now start work on the assignment questions. 

Q: What is one area of improvement to your tokenization that you could theoretically carry out? (No need to actually do it; let's not make perfect the enemy of good enough.)

A:

## Calculate descriptive statistics on the two sets of lyrics and compare the results.

In [ ]:
# your code here

Q: what observations do you make about these data? 

A:

## Find tokens uniquely related to a corpus

Typically we would use TF-IDF to find unique tokens in documents. Unfortunately, we either have too few documents (if we view each data source as a single document) or too many (if we view each description as a separate document). In the latter case, our problem will be that descriptions tend to be short, so our matrix would be too sparse to support analysis. 

To avoid these problems, we will create a custom statistic to identify words that are uniquely related to each corpus. The idea is to find words that occur often in one corpus and infrequently in the other(s). Since corpora can be of different lengths, we will focus on the _concentration_ of tokens within a corpus. "Concentration" is simply the count of the token divided by the total corpus length. For instance, if a corpus had length 100,000 and a word appeared 1,000 times, then the concentration would be $\frac{1000}{100000} = 0.01$. If the same token had a concentration of $0.005$ in another corpus, then the concentration ratio would be $\frac{0.01}{0.005} = 2$. Very rare words can easily create infinite ratios, so you will also add a cutoff to your code so that a token must appear at least $n$ times for you to return it. 

An example of these calculations can be found in [this spreadsheet](https://docs.google.com/spreadsheets/d/1P87fkyslJhqXFnfYezNYrDrXp_GS8gwSATsZymv-9ms). Please don't hesitate to ask questions if this is confusing. 

In this section find 10 tokens for each of your four corpora that meet the following criteria: 

1. The token appears at least `n` times in all corpora
1. The tokens are in the top 10 for the highest ratio of appearances in a given corpora vs appearances in other corpora.

You will choose a cutoff for yourself based on the side of the corpus you're working with. If you're working with the Robyn-Cher corpora provided, `n=5` seems to perform reasonably well.

In [ ]:
# your code here

Q: What are some observations about the top tokens? Do you notice any interesting items on the list? 

A:

## Build word clouds for all four corpora. 

For building wordclouds, we'll follow exactly the code of the text. The code in this section can be found [here](https://github.com/blueprints-for-text-analytics-python/blueprints-text/blob/master/ch01/First_Insights.ipynb). If you haven't already, you should absolutely clone the repository that accompanies the book.

In [ ]:
from matplotlib import pyplot as plt

def wordcloud(word_freq, title=None, max_words=200, stopwords=None):

    wc = WordCloud(width=800, height=400, 
                   background_color= "black", colormap="Paired", 
                   max_font_size=150, max_words=max_words)
    
    # convert data frame into dict
    if type(word_freq) == pd.Series:
        counter = Counter(word_freq.fillna(0).to_dict())
    else:
        counter = word_freq

    # filter stop words in frequency counter
    if stopwords is not None:
        counter = {token:freq for (token, freq) in counter.items() 
                              if token not in stopwords}
    wc.generate_from_frequencies(counter)
 
    plt.title(title) 

    plt.imshow(wc, interpolation='bilinear')
    plt.axis("off")
    
    
def count_words(df, column='tokens', preprocess=None, min_freq=2):

    # process tokens and update counter
    def update(doc):
        tokens = doc if preprocess is None else preprocess(doc)
        counter.update(tokens)

    # create counter and run through all data
    counter = Counter()
    df[column].map(update)

    # transform counter into data frame
    freq_df = pd.DataFrame.from_dict(counter, orient='index', columns=['freq'])
    freq_df = freq_df.query('freq >= @min_freq')
    freq_df.index.name = 'token'
    
    return freq_df.sort_values('freq', ascending=False)

Q: What observations do you have about these (relatively straightforward) wordclouds? 

A: